@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --base-color: #decef1;
    --text-color: #2f183c;
    --text-color-2: #7c6635;
    --text-color-3: #783b5b;
    --text-color-4: #4a5a8a;
    --primary-color: #f7e8c8;
    --secondary-color: #f7c8e1;
    --third-color: #c8d4f7;
    --color-1: #ffffff; 
    --color-2: #c9a6f3;
    --color-3: #ae7fef;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
}

body {
    padding: 1em;
    background-color: var(--base-color);
}

h1, h2, h3 {
    font-family: Merriweather, Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    margin: 1em auto 3em auto;
    width: min(1000px, 100%);
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 2em;
}

nav li:first-child { 
    margin-right: auto;
    font-family: Merriweather, Poppings;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: var(--text-color);
}

nav a:hover {
    text-decoration: underline;
}

header, section {
    margin: 2em auto;
    width: min(75em, 100%);
    background-color: var(--color-1);
    padding: min(2em, 15%);
    border-radius: 1em;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em
}

header img {
    max-width: 100%;
    border-radius: 1em;
    object-fit: cover;
    object-position: bottom;
}

.text-container {
    flex: 0 1 34em;
}

h1 {
    font-size: 2.5rem;
}

.text-container p {
    margin: .75em 0 1em 0;
    font-size: 1.25rem;
}

.cta-button {
    display: inline-block;
    text-decoration: none;
    color: var(--text-color-2);
    background-color: var(--primary-color);
    padding: .75em 1.25em;
    border-radius: .5em;
    font-weight: 600;
    font-size: 1rem;
}

.secondary {
    background-color: var(--secondary-color);
    color: var(--text-color-3);
}

section {
    padding: 3em min(2em, 15%);
    background-color: var(--color-1);
}

.third {
    background-color: var(--third-color);
    color: var(--text-color-4);
}

.fourth {
    background-color: var(--secondary-color);
    color: var(--text-color-3);
    font-size: 1.25rem;
}

.fifth {
    background-color: var(--third-color);
    color: var(--text-color-4);
    font-size: 1.25rem;
}

.sixth {
    color: var(--text-color-2);
    background-color: var(--primary-color);
    font-size: 1.25rem;
}

section img {
    max-width: 100%;
    border-radius: 1em;
    object-fit: cover;
    object-position: bottom;
}

footer {
    padding-bottom: 1.5em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

footer a {
    margin: 0 1em;
    text-decoration: none;
    color: var(--text-color);
}

footer a:hover {
    text-decoration: underline;
}

@media(max-width: 510px) {
    header {
        text-align: center;
    }

    header .text-container {
        padding-top: 0;
    }
}

@media(max-width: 510px) {
    nav li {
        display: none;
    }

    nav li:first-child,
    nav li:last-child {
        display: block;
    }

    header {
        margin-top: 0;
    }

    .cta-button {
        font-size: 1rem;
        margin-top: .5em;
        width: 100%;
    }

    .text-container p {
        font-size: 1rem;
    }

    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    footer {
        font-size: .75rem;
    }
}